__pycache__/
*.pyc
venv/
pip-cache/
apt-cache/
temp/
settings/*
!settings/dot-claude/
settings/dot-claude/*
!settings/dot-claude/CLAUDE.md
.env
telegram-bot-api-data/
obsidian/settings/
obsidian/vaults/
